:root {
    --margin-base: 4px;
    --padding-base: var(--margin-base);
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    outline: none;
}

a {
    text-decoration: none;
    color: unset;
}

.d-flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

.justify-start {
    justify-content: flex-start;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.border-radius {
    border-radius: 50%;
}

.box-shadow-regular {
    box-shadow: 0px 5px 8px rgba(0,0,0,.3);
}

.spacer {
    flex-grow: 1;
}

.ml-1 { margin-left: calc(var(--margin-base) * 1); }
.ml-2 { margin-left: calc(var(--margin-base) * 2); }
.ml-3 { margin-left: calc(var(--margin-base) * 3); }

.ma-1 { margin: calc(var(--margin-base) * 1); }
.ma-2 { margin: calc(var(--margin-base) * 2); }
.ma-3 { margin: calc(var(--margin-base) * 3); }
.ma-4 { margin: calc(var(--margin-base) * 4); }
.ma-5 { margin: calc(var(--margin-base) * 5); }
.ma-6 { margin: calc(var(--margin-base) * 6); }

.pa-1 { padding: calc(var(--padding-base) * 1); }
.pa-2 { padding: calc(var(--padding-base) * 2); }
.pa-3 { padding: calc(var(--padding-base) * 3); }
.pa-4 { padding: calc(var(--padding-base) * 4); }
.pa-5 { padding: calc(var(--padding-base) * 5); }
.pa-6 { padding: calc(var(--padding-base) * 6); }