@{
    ViewBag.Title = "Home Page";
}

<p style="margin: 10px">
    @Html.ShowAdvertisement()
</p>
@Html.ShowFamousPartnerImages()

<div class="jumbotron">
    <h1>Pesquise os melhores hotéis</h1>
    <p class="lead">HostMaker is done using HTML, CSS and JavaScript.</p>
    <p><a href="Home/Search" class="btn btn-success btn-lg">Pesquisar &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Conhecendo o HostMaker</h2>
        <p>
            Aqui você tem a experiência perfeita de hospedagem!
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Descubra &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Tenha os melhores quartos</h2>
        <p>Nossa infraestrutura é de alto nível e suporta desde reservas individuais até grandes grupos!</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Descubra &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Reservas Online</h2>
        <p>Você pode reservar seu quarto com antecedência pela Internet e se livrar das dores de cabeça!</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Descubra &raquo;</a></p>
    </div>
</div>